<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>reserva de sala</title>
        <meta http-equiv="refresh" content="5">

        <!-- CSS  -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/materialize.css') }}">
        

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->

        
    </head>
    <body>
        <nav class="light-blue lighten-1" role="navigation">
            <div class="nav-wrapper container">
                <img src="{{ url_for('static',filename='img/logo.png') }}" alt="logo" style= '-webkit-filter: invert(100%)' width="70" height="70"/>
        
                <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Navbar Link</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <h1 class="header center orange-text">Status das Salas</h1>
                <div class="row center">
                    {% if name %}
                    <h1>A sala está {{ name }}!</h1>
                    {% else %}
                    <h1>Hello, World!</h1>
                    {% endif %}
                </div>
                <div class="row center">
                        {%if name == "vazia"%}
                        {%if reserva == "nao" %}
                        <form method="GET" action="/reserva/sim">
                            <button class="btn waves-effect waves-light" type="submit" name="reserva">Reservar
                                <i class="material-icons right">check_circle</i>
                            </button>
                            <br></br>
                            <button class="btn waves-effect waves-light" type="submit" disabled>Cancelar
                                <i class="material-icons right">cancel</i>
                            </button>
                        </form>

                        {% else %}
                        <form method="GET" action="/reserva/nao">
                            <button class="btn waves-effect waves-light" type="submit" name="reserva" disabled>Reservar
                                <i class="material-icons right">check_circle</i>
                            </button>
                            <br></br>
                            <button class="btn waves-effect waves-light" type="submit">Cancelar
                                <i class="material-icons right">cancel</i>
                            </button>
                        </form>
                        {% endif %}


                        <h3>a sala está reservada? </h3>
                        {%if reserva == "sim" %}
                        <h3 style="color:rgb(87, 136, 14);">Sim</h3>
                        <h3>PIN: {{ pin }}</h3>
                        {% else %}
                        <h3  style="color:rgb(173, 57, 96);">Não</h3>
                        {% endif %}
                        
                        {% endif %}
                </div>
            
            </div>
        </div>

    </body>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
</html>
