{% autoescape false %}
<!doctype html>
<html lang="pt-br">
    <head>
        <title>{% block title %}{% endblock %} Hello from Flask</title>
        <meta http-equiv="refresh" content="5">
    </head>
    <body>
        {% if name %}
        <h1>A sala está {{ name }}!</h1>
        {% else %}
        <h1>Hello, World!</h1>
        {% endif %}

        

        {%if name == "vazia"%}
        <form method="GET" action="/reserva/sim">
            <button type="submit">reservar</button>
        </form>
        
        <form method="GET" action="/reserva/nao">
            <button type="submit">Cancelar</button>
        </form>
        {%if reserva == "sim" %}
        <p>a sala está reservada: Sim</p>
        {% else %}
        <p>a sala está reservada: Não</p>
        {% endif %}
        
        {% endif %}



    </body>
</html>
{% endautoescape %}